* {
  padding: 0;
  margin: 0;
  border: 0;

  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

a, a:hover, a:visited {
  color: #1fbee8;
  text-decoration: none;
}

html {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Minion Pro', serif;
}

article {
  width: 35rem;
  margin: 0 auto;

  header {
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-size: 5rem;
    font-weight: 100;
    text-align: center;

    a:hover {
      cursor: alias;
    }
  }

  section {
    p {
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
