#typeworks-panel {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 424242;

  .toggle {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
    background: #ccc;

    &:hover {
      background: #ddd;
    }

    &.active {
      background: #9c3;

      &:hover {
        background: #ad4;
      }
    }
  }
}
