!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Type Works
    %link{ href: "/application.css?#{ stamp }", media: 'all', rel: 'stylesheet' }
    %link{ href: "/run.css?#{ stamp }", media: 'all', rel: 'stylesheet' }
    %link{ href: '/favicon.png', rel: 'shortcut icon', type: 'image/png' }
    %script{ type: 'text/javascript', src: '//use.typekit.net/vim3fcl.js' }
    %script{ type: 'text/javascript' }= 'try{Typekit.load();}catch(e){}'
    %script
      :plain
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-47932672-7', 'type.works');
        ga('send', 'pageview');
  %body
    %article
      %header
        %h1
          Type Works
          %a.bookmark{ href: bookmark_href, onclick: 'return false;', title: 'Type works!'} &para;

        %ol
          %li Drop the blue &para; to your Bookmarks or add it to your Favorites.
          %li Go to a website of interest and click the newly created bookmark.
          %li Use the colorful panel to experiment with OpenType features.
          %li Or just have fun on this page with the text below.

      %section
        :markdown
          In professional typography, the term _typeface_ is not interchangeable
          with the word _font_ (originally “fount” in British English, and
          pronounced “font”), historically defined as a given alphabet and its
          associated characters in a single size. For example, 8-point Caslon
          Italic was one font, and 10-point Caslon Italic was another.
          Historically, fonts came in specific sizes determining the size of
          characters, and in quantities of sorts or number of each letter
          provided. The design of characters in a font took into account all
          these factors.

          As the range of typeface designs increased and requirements of
          publishers broadened over the centuries, fonts of specific weight
          (blackness or lightness) and stylistic variants (most commonly
          _regular_ or _roman_ as distinct to _italic_, as well as _condensed_)
          have led to _font families_, collections of closely related typeface
          designs that can include hundreds of styles. A font family is
          typically a group of related fonts which vary only in weight,
          orientation, width, etc., but not design. For example, Times is a font
          family, whereas Times Roman, Times Italic and Times Bold are
          individual fonts making up the Times family. Font families typically
          include several fonts, though some, such as Helvetica, may consist of
          dozens of fonts.

          The distinction between font and typeface is that a font designates a
          specific member of a type family such as roman, boldface, or italic
          type, while typeface designates a consistent visual appearance or
          style which can be a “family” or related set of fonts. For example, a
          given typeface such as Arial may include roman, bold, and italic
          fonts. In the metal type era, a font also meant a specific point size,
          but with digital scalable outline fonts this distinction is no longer
          valid, as a single font may be scaled to any size.

          The first “extended” font families, which included a wide range of
          widths and weights in the same general style emerged in the early
          1900s, starting with ATF’s Cheltenham (1902—1913), with an initial
          design by Bertram Grosvenor Goodhue, and many additional faces
          designed by Morris Fuller Benton. Later examples include Futura,
          Lucida, ITC Officina. Some became superfamilies as a result of
          revival, such as Linotype Syntax, Linotype Univers; while others have
          alternate styling designed as compatible replacements of each other,
          such as Compatil, Generis.

          Typeface _superfamilies_ began to emerge when foundries began to
          include typefaces with significant structural differences, but some
          design relationship, under the same general family name. Arguably the
          first superfamily was created when Morris Fuller Benton created
          Clearface Gothic for ATF in 1910, a sans serif companion to the
          existing (serifed) Clearface. The superfamily label does not include
          quite different designs given the same family name for what would seem
          to be purely marketing, rather than design, considerations: Caslon
          Antique, Futura Black and Futura Display are structurally unrelated to
          the Caslon and Futura families, respectively, and are generally not
          considered part of those families by typographers, despite their
          names.

          Additional or supplemental glyphs intended to match a main typeface
          have been in use for centuries. In some formats they have been
          marketed as separate fonts. In the early 1990s, the Adobe Systems type
          group introduced the idea of _expert set_ fonts, which had a
          standardized set of additional glyphs, including small caps, old style
          figures, and additional superior letters, fractions and ligatures not
          found in the main fonts for the typeface. Supplemental fonts have also
          included alternate letters such as swashes, dingbats, and alternate
          character sets, complementing the regular fonts under the same family.
          However, with introduction of font formats such as OpenType, those
          supplemental glyphs were merged into the main fonts, relying on
          specific software capabilities to access the alternate glyphs.

          Since Apple’s and Microsoft’s operating systems supported different
          character sets in the platform related fonts, some foundries used
          expert fonts in a different way. These fonts included the characters
          which were missing on either Macintosh or Windows computers, e.g.
          fractions, ligatures or some accented glyphs. The goal was to deliver
          the whole character set to the customer regardless of which operating
          system was used.

          The size of typefaces and fonts is traditionally measured in points;
          _point_ has been defined differently at different times, but now the
          most popular is the Desktop Publishing point of 1/72 in (0.0139 in or
          0.35 mm). When specified in typographic sizes (points, kyus), the
          height of an _em-square_, an invisible box which is typically a bit
          larger than the distance from the tallest ascender to the lowest
          descender, is scaled to equal the specified size. For example, when
          setting Helvetica at 12 point, the em square defined in the Helvetica
          font is scaled to 12 points or 1/6 in (0.17 in or 4.3 mm). Yet no
          particular element of 12-point Helvetica need measure exactly 12
          points.

          Frequently measurement in non-typographic units (feet, inches, meters)
          will be of the _cap-height_, the height of the capital letters. Font
          size is also commonly measured in millimeters (mm) and _qs_ (a quarter
          of a millimeter, _kyu_ in romanized Japanese) and inches.

        %p
          Taken from <a href='https://en.wikipedia.org/wiki/Typeface'>Wikipedia</a>.

      %footer
        %p
          &copy; 2014 <a href='http://github.com/IvanUkhov'>Ivan Ukhov</a>

    %script{ src: "/run.js?#{ stamp }" }
