!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Type Works
    %link{ href: "/application.css?#{ timestamp }", media: 'all', rel: 'stylesheet' }
  %body
    %article
      %header
        %h1 Type Works
    %script{ src: "/application.js?#{ timestamp }" }
